<p><b>
Login Here
</b></p>

<%= form_with url: "/sessions" do |form| %>

<p>
  <%= form.label "email" %>
  <%= form.text_field "email" %>
</p>

<p>
  <%= form.label "password" %>
  <%= form.password_field "password" %>
</p>

<p>
  <%= form.submit "Login" %>
</p>

<% end %>