<h1><%= @place.name %></h1>

<p><b>My Posts</b></p>
<% for post in @place.posts %>
  <h3><%= post.title %></h3>
  <h4><%= post.posted_on %></h4>
  <% if post.uploaded_image.attached? %>
    <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
  <% else %>
    <p>No image</p>
  <% end %>
  <p><%= post.description %></p>
<% end %>

<p>
  <a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
</p>

<p>
  <a href="/places">Back to Places</a>
</p>