<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div>
      <%= flash[:notice] %>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div>
        <a class="navbar-brand" href="/">Home</a>
        <% if @current_user %>
          <%= button_to "Logout", "/sessions/logout", method: :delete %>  
        <% end %>
        <% if not @current_user %>
          <a href="/sessions/new">Login</a>
          <a href="/users/new">Signup</a>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
